.image-card{
    box-shadow: none !important;
}

.image-card:hover{
    box-shadow: 0 0 0.5rem #35353574 !important;
}

.simpleCard:hover{
    /* background-color: #9aaa8f !important; */
    box-shadow: 0 0 1rem #3535357c;
    transform: scale(1.02);
}

.adCard img{
    width: 10vw;
}