
.main-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #eff2f7;
  /* border-top: 2rem solid #e3a5ff;
  border-bottom: 2rem solid #e3a5ff; */
  
}
.main-content{
    display: flex;
    flex-direction: column;
    max-width: 76vw;
    gap: 2rem;
    /* background-color: #fff; */
    border-radius: 1rem;
  }

  .sub-section{
    background-color: #fff;
    border-radius: 1rem;
  }

  .sub-section:hover{
    box-shadow: 0 0 1rem #47474720;
  }

  .ad-section{
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }