
.main-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 2rem solid #e3a5ff;
  border-bottom: 2rem solid #e3a5ff;
  
}
.main-content{
    display: flex;
    flex-direction: column;
    max-width: 76vw;
  }

  .ad-section{
    width: 12vw;
    background-color: #e3a5ff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }